*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 3%;
    background: transparent;
}

.logo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #f7dc6f;
}

.nav_links{
    display: flex;
}

.nav_links a{
    color: #fff;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.nav_links a:hover{
    border-bottom: 2px solid #fff;
}

.eldenring{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #344170 0%, #1d244a 28.53%, #11382b 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.eldenring-text h5, .dmc-text h5, .nier-text h5, .ninesols-text h5, .darksouls-text h5{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

.eldenring-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    line-height: 1;
    color: #f7dc6f;
    margin: 0 0 40px;
}

.eldenring-text h4, .dmc-text h4, .nier-text h4, .ninesols-text h4, .darksouls-text h4{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.eldenring-text p, .dmc-text p, .nier-text p, .ninesols-text p, .darksouls-text p{
    color: #fff;
    font-size: 13px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.eldenring-img, .dmc-img, .nier-img, .ninesols-img, .darksouls-img{
    width: 700px;
    height: auto;
}

.eldenring-img img, .dmc-img img, .nier-img img, .ninesols-img img, .darksouls-img img{
    width: 130%;
    height: auto;
    max-width: 700px;
    border: 3px solid #2a2a2a;
    border-radius: 50px;
    box-sizing: border-box;
}

.eldenring-text a, .dmc-text a, .nier-text a, .ninesols-text a, .darksouls-text a{
    display: inline-block;
    color: #fff;
    background: #284256;
    border: 1px solid transparent;
    padding: 1px 30px;
    line-height: 2;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
}

.eldenring-text a:hover .dmc-text a:hover, .nier-text a:hover, .ninesols-text a:hover, .darksouls-text a:hover{
    background: #445f75;
    border: 1px solid #fff;
    transform: translateX(8px);
}

.eldenring-text a.ctaa, .dmc-text a.ctaa, .nier-text a.ctaa, .ninesols-text a.ctaa, .darksouls-text a.ctaa{
    background-color: transparent;
    border: 1px solid #fff;
    margin-left:  20px;
}

.eldenring-text a.ctaa i, .dmc-text a.ctaa i, .nier-text a.ctaa i, .ninesols-text a.ctaa i, .darksouls-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.dmclogo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    text-shadow: -2px -2px 0 #ff0000, 2px -2px 0 #ff0000, -2px 2px 0 #ff0000, 2px 2px 0
}

.dmc{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #3c5970 0%, #8B0000 28.53%, #0b1215 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

.dmc-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    line-height: 1;
    color: #010101;
    margin: 0 0 40px;
    text-shadow: -2px -2px 0 #ff0000, 2px -2px 0 #ff0000, -2px 2px 0 #ff0000, 2px 2px 0
}

.nierlogo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.nier{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #CCCCCC 0%, #ADD8E6 28.53%, #5F6A6A 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

.nier-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 40px;
}

.ninesolslogo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #f0f3b4;
}

.ninesols{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #043b04 0%, #FFA500 28.53%, #FF4500 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

.ninesols-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    line-height: 1;
    color: #f0f3b4;
    margin: 0 0 40px;
}

.darksoulslogo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.darksouls{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #101820 0%, #a78a2c 28.53%, #333333 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

.darksouls-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 40px;
}


@media (max-width: 1535px){
    header  {
        padding: 15px 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: 2s;
    }
}

@media (max-width: 1340px){
    .eldenring-img img, .dmc-img img, .nier-img img, .ninesols-img img, .darksouls-img img{
        width: 100%;
        height: auto;
    }
    .eldenring-text h1, .dmc-text h1, .nier-text h1, .ninesols-text h1, .darksouls-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .eldenring-text h5, .dmc-text h5, .nier-text h1, .ninesols-text h1, .darksouls-text h1{
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: 2s;
    }
    .eldenring-text, .dmc-text, .nier-text, .ninesols-text, .darksouls-text{
        padding-top: 115px;
    }
    .eldenring-img, .dmc-img, .nier-img, .ninesols-img, .darksouls-img{
        text-align: center;
    }
    .eldenring-img img, .dmc-img img, .nier-img img, .ninesols-img img, .darksouls-img img{
        width: 560px;
        height: auto;
    }
    .eldenring, .dmc, .nier, .ninesols, .darksouls{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 660px) {
    .eldenring-img, .dmc-img, .nier-img, .ninesols-img, .darksouls-img{
        display: none;
    }

    .nav_links{
        display: grid;
    }
}
