*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trirong", serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 3%;
    background: transparent;
}

.logo{
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 700;
    color: #f7dc6f;
}

.nav_links{
    display: flex;
}

.nav_links a{
    color: #fff;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.nav_links a:hover{
    border-bottom: 2px solid #fff;
}

.eldenring{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #344170 0%, #1d244a 28.53%, #11382b 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.eldenring-text h5{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

.eldenring-text h1{
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    line-height: 1;
    color: #f7dc6f;
    margin: 0 0 40px;
}

.eldenring-text h4{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.eldenring-text p{
    color: #fff;
    font-size: 13px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.eldenring-img{
    width: 700px;
    height: auto;
}

.eldenring-img img{
    width: 130%;
    height: auto;
    border: 3px solid #2a2a2a;
    border-radius: 50px;
    box-sizing: border-box;
}

.eldenring-text a{
    display: inline-block;
    color: #fff;
    background: #284256;
    border: 1px solid transparent;
    padding: 1px 30px;
    line-height: 2;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .55s ease;
}

.eldenring-text a:hover{
    background: #445f75;
    border: 1px solid #fff;
    transform: translateX(8px);
}

.eldenring-text a.ctaa{
    background-color: transparent;
    border: 1px solid #fff;
    margin-left:  20px;
}

.eldenring-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}