* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Nunito;
}

.home{
    display: flexbox;
    text-align: left;
    padding: 10px 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272525;
    padding: 18px 60px;
    font-size: 18px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body{
    font-family: 'Inter', Nunito;
    line-height: 1.6;
}

header{
    background-color: #272525;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}


.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card{
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #272525;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}